CAPAD2022_single_fixed.dbf
CAPAD2022_single_fixed.prj
CAPAD2022_single_fixed.shp
CAPAD2022_single_fixed.shx
FAO_major_areas.cpg
FAO_major_areas.dbf
FAO_major_areas.prj
FAO_major_areas.qmd
FAO_major_areas.shp
FAO_major_areas.shx
FAO_major_areas_with_coastline.cpg
FAO_major_areas_with_coastline.dbf
FAO_major_areas_with_coastline.prj
FAO_major_areas_with_coastline.qmd
FAO_major_areas_with_coastline.shp
FAO_major_areas_with_coastline.shx
FAO_major_areas_with_coastline_single.dbf
FAO_major_areas_with_coastline_single.prj
FAO_major_areas_with_coastline_single.shp
FAO_major_areas_with_coastline_single.shx
WDPA_WDOECM_Jul2023_Public_marine.RDS
WDPA_WDOECM_Jul2023_Public_marine.cpg
WDPA_WDOECM_Jul2023_Public_marine.dbf
WDPA_WDOECM_Jul2023_Public_marine.prj
WDPA_WDOECM_Jul2023_Public_marine.qmd
WDPA_WDOECM_Jul2023_Public_marine.shp
WDPA_WDOECM_Jul2023_Public_marine.shx
goas_v01.cpg
goas_v01.dbf
goas_v01.prj
goas_v01.shp
goas_v01.shx
world_marineparks_oceans.RDS
